<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Infinum Coding Standards for WordPress"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

    <description>The coding standards used when writing Infinum Coding Standards itself</description>

    <file>.</file>

    <!-- Additional arguments. -->
    <arg value="sp"/>

    <arg name="basepath" value="./"/>
    <arg name="tab-width" value="2"/>
    <arg name="parallel" value="8"/>
    <arg name="cache"/>
    <arg name="extensions" value="php"/>

    <!-- Exclude Composer vendor directory. -->
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <rule ref="Infinum"/>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <severity>0</severity>
    </rule>

    <rule ref="WordPress.WhiteSpace.ControlStructureSpacing.ExtraSpaceAfterCloseParenthesis">
        <severity>0</severity>
    </rule>

    <!-- Hack to prevent errors. -->
    <rule ref="Infinum.Shortcodes.DisallowDoShortcode.shortcodeUsageDetected">
        <severity>0</severity>
    </rule>

</ruleset>
