parameters:
    level: 5
    paths:
        - Eightshift
    bootstrapFiles:
        - Tests/bootstrap.php
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Level 0
        - '#^Result of method \S+ \(void\) is used\.$#'
