includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	level: 6
	excludePaths:
		- */vendor/*
		- */vendor-prefixed/*
		- */node_modules/*
		- */eightshift/*
		- */public/*
		- */tests/*
	paths:
		- .
	bootstrapFiles:
		- Tests/bootstrap.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		# Level 0
		- '#^Result of method \S+ \(void\) is used\.$#'
